<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body">
          <h4 class="card-title">Agregar Tipo de Soutache</h4>
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" #nombre>
            </div>
            <div class="form-group">
              <label for="nombre">Descripción</label>
              <input type="text" class="form-control" id="descripcion" #descripcion>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="agregar(nombre.value,descripcion.value)">Agregar</button>
          </form>
        </div>
      </div>
  </div>
  <div class="row">
    <app-tipo-soutache *ngFor="let t of tipos" [tipo]="t"></app-tipo-soutache>
  </div>
</div>
