<div class="card card-body">
  <ul class="list-group">
    <li class="list-group-item"><h4><span class="badge badge-pill badge-success">{{ tipo.nombre }}</span></h4></li>
    <li class="list-group-item">{{ tipo.descripcion }}</li>
  </ul>
</div>
